@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap";
@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap";


.navbar{
    font-family: "Bebas Neue", sans-serif;
    font-size: x-large;
}

.custom-header {
    background-color: #4CAF50; /* Green */
    color: white;
}

#name-tag{
    color: darkgoldenrod;
    font-style: italic;
}

#billett-nummer{
    font-weight: bold;
}